@using ImagesUsingEF.data
@model AllImagesViewModel

<div class="row">
    <div class="col-md-8 offset-md-2" id="images">
        @foreach(var image in Model.Images)
        {
            <div class="bg-light p-4 rounded shadow mb-3" style="margin-bottom: 20px; text-align: center;">
                <a href="/home/viewimage?id=@image.Id">
                    <h3>@image.ImageName</h3>
                    <h5>Uploaded on: @image.UploadTime.ToShortDateString() at @image.UploadTime.ToShortTimeString() </h5>
                    <img style="width: 400px;" src="/images/@image.File" />
                </a>
            </div>
        }
    </div>
</div>