
<div class="row" style="min-height: 80vh; display:flex; align-items: center;">
    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" class="form-control" name="File">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="imageName" placeholder="Name">
            </div>
            <button class="btn btn-primary w-100">Upload</button>
        </form>
    </div>
</div>