@using ImagesUsingEF.data
@model ViewImageViewModel


<div class="row">
    <input type="hidden" id="image-id" value="@Model.Image.Id" />
    <div class="col-md-10 offset-md-1 bg-light p-4 rounded shadow">
        <h1>@Model.Image.ImageName</h1>
        <img src="/images/@Model.Image.File" style="width: 900px;" />
        <br />
        <br />
      
            <button id="like-button" class="btn btn-primary btn-lg" disabled="@Model.Liked">LIKE</button>
            Current Likes:
        <span id="likes-count">@Model.Image.Likes</span>
       
    </div>

</div>

@section scripts{
    <script src="~/js/viewimage.js"></script>
}